<h3>Edit <%= post.title %></h3>
<form action="/posts/<%= post.id %>/update" method="POST">
  <input type="text" name="title" id="title" value="<%= post.title %>" class="validate">
  <textarea name="body" id="body" class="materialize-textarea"><%= post.body %></textarea>
  <input type="submit" value="Save" class="btn">
</form>