<h2>New Post</h2>
<form action="/posts/new" method="POST">
  <input type="text" name="title" id="title" class="validate" placeholder="Post Title">
  <textarea name="body" id="body" class="materialize-textarea" placeholder="Post Body"></textarea>
  <input type="submit" value="Add Post" class="btn">
</form>
